header{
    height: 96px;
    background-color: gainsboro;
    display: flex;
    align-items: center;
}

.name-logo>img{
    height: 80px;
    margin: 4px;
    margin-right: 3vw;
    border-radius: 50%;
}
.site-title{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: navy;
    font-size: calc(25px + 11 * ((100vw - 320px) / 680));
}