@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Arimo&family=Atma&family=Galada&family=Mina&family=Tiro+Bangla&display=swap');

/* font-family: 'Akaya Kanadaka', cursive;
font-family: 'Arimo', sans-serif;
font-family: 'Atma', cursive;
font-family: 'Galada', cursive;
font-family: 'Mina', sans-serif;
font-family: 'Tiro Bangla', serif; */